<div id="sldViewTitle">STYLE EDITOR
	<i ng-click="showSingleBand()" 
		ng-show="!editorSld.singleband" 
		class="material-icons sldButton sldHeaderButton" 
		aria-label="Show single-band style settings" 
		uib-tooltip="Show single-band style settings" 
		tooltip-placement="left" 
		tooltip-trigger="mouseenter" 
		tooltip-append-to-body="true">photo</i>
	<i ng-click="showMultiBand()" 
		ng-show="editorSld.singleband" 
		class="material-icons sldButton sldHeaderButton" 
		aria-label="Show multi-band style settings" 
		uib-tooltip="Show multi-band style settings" 
		tooltip-placement="left" 
		tooltip-trigger="mouseenter" 
		tooltip-append-to-body="true">photo_library</i>
</div>

<label id="sldMenuLabel" for="sldmenu">Choose existing template:</label>
<select name="sldmenu" id="sldmenu" ng-model="templateSld" ng-options="sld.name for sld in slds track by sld.name" ng-change="sldSelectionChanged()">
</select>
<i ng-click="deleteSld()" ng-show="!templateSld.builtin" 
	class="material-icons sldButton" 
	aria-label="Delete template" 
	uib-tooltip="Delete template" 
	tooltip-placement="left" 
	tooltip-trigger="mouseenter" 
	tooltip-append-to-body="true">delete</i>
	
<div id="sldEditTitle">Customize style</div>

<div id="singleBandSelectionDiv" ng-if="editorSld.singleband">
	<table id="singleBandTable" class="channelSelectionTable">
		<tr class="channelSelectionTableHeaderTR">
			<th class="channelSelection channelSelectionLabelTH"/>
			<th class="channelSelection channelSelectionBandTH">Band number</th>
			<th class="channelSelection channelSelectionMinTH">Minimum value</th>
			<th class="channelSelection channelSelectionMaxTH">Maximum value</th>
			<th/>
		</tr>
		<tr class="channelSelectionTableDataTR">
			<td class="channelSelection channelSelectionLabelTD">Gray</td>
			<td class="channelSelection channelSelectionBandTD">
				<input class="channelSelectionBandInput" ng-model="editorSld.channelselection.gray" id="sldgrayband" type="number"/>
			</td>
			<td class="channelSelection channelSelectionMinTD">
				<input class="channelSelectionMinInput" ng-model="editorSld.channelselection.graymin" id="sldgraybandmin" type="number"/>
			</td>
			<td class="channelSelection channelSelectionMaxTD">
				<input class="channelSelectionMaxInput" ng-model="editorSld.channelselection.graymax" id="sldgraybandmax" type="number"/>
			</td>
			<td class="channelSelection channelSelectionButtonTD">
				<i ng-click="addColormapTemplate()" 
					ng-if="editorSld.colormap.length == 0" 
					class="material-icons sldButton" 
					aria-label="Add colormap template" 
					uib-tooltip="Add colormap template" 
					tooltip-placement="left" 
					tooltip-trigger="mouseenter" 
					tooltip-append-to-body="true">add</i>
				<i ng-click="applySld()" 
					class="material-icons sldButton" 
					aria-label="Apply settings" 
					uib-tooltip="Apply settings" 
					tooltip-placement="left" 
					tooltip-trigger="mouseenter" 
					tooltip-append-to-body="true">sync</i>
				<i ng-click="saveSld()" 
					class="material-icons sldButton" 
					aria-label="Save settings" 
					uib-tooltip="Save settings" 
					tooltip-placement="left" 
					tooltip-trigger="mouseenter" 
					tooltip-append-to-body="true">save</i>
			</td>
		</tr>
	</table>
	<div id="singleBandInfo">If band limits are used define colormap for interval 0-255. Define both lower and upper limits.</div>
	<div id="sldColorMapDiv" ng-show="editorSld.colormap.length > 0">
		<div id="sldColormapTitle">Customize colormap</div>
		<div id="sldTableDiv">
			<table id="sldTable">
				<tr class="sldHeaderRow">
					<th class="sldHeaderCell">Pixel value</th>
					<th class="sldHeaderCell">Color</th>
					<th/>
				</tr>
				<tr class="sldDataRow" ng-repeat="cm in editorSld.colormap">
					<td class="sldDataCell">
						<input class="sldQuantityInput" type="number" value="{{cm.quantity}}"/>
					</td>
					<td class="sldDataCell">
						<input class="sldColorInput" type="color" value="{{cm.color}}"/>
					</td>
					<td class="sldButtonCell" 
						ng-click="newSldRowBelow($event)" 
						aria-label="Add row below" 
						uib-tooltip="Add row below" 
						tooltip-placement="left" 
						tooltip-trigger="mouseenter" 
						tooltip-append-to-body="true">
						<i class="material-icons">vertical_align_bottom</i>
					</td>
					<td class="sldButtonCell" 
						ng-click="newSldRowAbove($event)" 
						aria-label="Add row above" 
						uib-tooltip="Add row above" 
						tooltip-placement="left" 
						tooltip-trigger="mouseenter" 
						tooltip-append-to-body="true">
						<i class="material-icons">vertical_align_top</i>
					</td>
					<td class="sldButtonCell" 
						ng-click="deleteSldRow($event)" 
						aria-label="Delete row" 
						uib-tooltip="Delete row" 
						tooltip-placement="left" 
						tooltip-trigger="mouseenter" 
						tooltip-append-to-body="true">
						<i class="material-icons">clear</i>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>
<div id="multiBandSelectionDiv" ng-if="!editorSld.singleband">
	<table id="singleBandTable" class="channelSelectionTable">
		<tr class="channelSelectionTableHeaderTR">
			<th class="channelSelection channelSelectionLabelTH"/>
			<th class="channelSelection channelSelectionBandTH">Band number</th>
			<th class="channelSelection channelSelectionMinTH">Minimum value</th>
			<th class="channelSelection channelSelectionMaxTH">Maximum value</th>
			<th/>
		</tr>
		<tr class="channelSelectionTableDataTR">
			<td class="channelSelection channelSelectionLabelTD">Red</td>
			<td class="channelSelection channelSelectionBandTD">
				<input class="channelSelectionBandInput" ng-model="editorSld.channelselection.red" id="sldredband" name="sldredband" type="number"/>
			</td>
			<td class="channelSelection channelSelectionMinTD">
				<input class="channelSelectionMinInput" ng-model="editorSld.channelselection.redmin" id="sldredbandmin" name="sldredbandmin" type="number"/>
			</td>
			<td class="channelSelection channelSelectionMaxTD">
				<input class="channelSelectionMaxInput" ng-model="editorSld.channelselection.redmax" id="sldredbandmax" name="sldredbandmax" type="number"/>
			</td>
			<td class="channelSelection channelSelectionButtonTD" rowspan="3">
				<i ng-click="applySld()" 
					class="material-icons sldButton" 
					aria-label="Apply settings" 
					uib-tooltip="Apply settings" 
					tooltip-placement="left" 
					tooltip-trigger="mouseenter" 
					tooltip-append-to-body="true">sync</i>
				<i ng-click="saveSld()" 
					class="material-icons sldButton" 
					aria-label="Save settings" 
					uib-tooltip="Save settings" 
					tooltip-placement="left" 
					tooltip-trigger="mouseenter" 
					tooltip-append-to-body="true">save</i>
			</td>
		</tr>
		<tr class="channelSelectionTableDataTR">
			<td class="channelSelection channelSelectionLabelTD">Green</td>
			<td class="channelSelection channelSelectionBandTD">
				<input class="channelSelectionBandInput" ng-model="editorSld.channelselection.green" id="sldgreenband" name="sldgreenband" type="number"/>
			</td>
			<td class="channelSelection channelSelectionMinTD">
				<input class="channelSelectionMinInput" ng-model="editorSld.channelselection.greenmin" id="sldgreenbandmin" name="sldgreenbandmin" type="number"/>
			</td>
			<td class="channelSelection channelSelectionMaxTD">
				<input class="channelSelectionMaxInput" ng-model="editorSld.channelselection.greenmax" id="sldgreenbandmax" name="sldgreenbandmax" type="number"/>
			</td>
		</tr>
		<tr class="channelSelectionTableDataTR">
			<td class="channelSelection channelSelectionLabelTD">Blue</td>
			<td class="channelSelection channelSelectionBandTD">
				<input class="channelSelectionBandInput" ng-model="editorSld.channelselection.blue" id="sldblueband" name="sldblueband" type="number"/>
			</td>
			<td class="channelSelection channelSelectionMinTD">
				<input class="channelSelectionMinInput" ng-model="editorSld.channelselection.bluemin" id="sldbluebandmin" name="sldbluebandmin" type="number"/>
			</td>
			<td class="channelSelection channelSelectionMaxTD">
				<input class="channelSelectionMaxInput" ng-model="editorSld.channelselection.bluemax" id="sldbluebandmax" name="sldbluebandmax" type="number"/>
			</td>
		</tr>
	</table>
	<div id="multiBandInfo">If limits are used they must be defined for all three bands. Define both lower and upper limits.</div>
</div>
